
.all {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #000;

}

.main {
    border-radius: 5px;
/*     border: 5px solid #000; */
    background: rgba(198, 155, 123, 0.2);
    width: 900px;
    height: 1000px;
}


/* 導覽開始====================================== */

.guide1outer {
    margin: 20px;
    /* 跟其他的空隙 */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.guide1 {
    border-radius: 5px;
	color: white;
	background-color: rgba(130, 111, 102, 0.9);
    width: 250px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


/* 票價開始====================================== */


.TKouter {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.TKinner {
    border-collapse: collapse;
    border: 2px solid #000;
    text-align: center;
    height: 100%;
    width: 90%;
}

tr {
    height: 50px;
}

td {
    width: 100px;
}

tr:nth-child(odd) {
    background: #d9d9d9;
}

tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

th {
    background: rgba(130, 111, 102, 0.9);
    color: white;
}

tr:hover{

background-color: #9d9d9d;

color: #000000;

}

/* 按鈕開始====================================== */


.bt {

    text-decoration: none;
    padding: 15px 20px;
    /* 按鈕大小 */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-weight: blod;
/*     background-image: linear-gradient(45deg, #000000 0%, #7c7c7c 51%, #000000 100%); */
	background: rgb(198, 155, 123);
    cursor: pointer;
}

.bt:hover {
    background-position: right center;
    /* 變色方向 */
    color: #fff;
    text-decoration: none;
}

.bt:active {
    transform: scale(0.95);
}

.btBlock {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* table按鈕開始====================================== */
.tablebt {
    text-decoration: none;
    padding: 10px 10px;
    /* 按鈕大小 */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    font-weight: bold;
/*     background-image: linear-gradient(45deg, #000000 0%, #7c7c7c 51%, #000000 100%); */
	background: rgb(198, 155, 123);
    cursor: pointer;
    border:none;
    font-size: 15px;
}

.tablebt:hover {
    background-position: right center;
    /* 變色方向 */
    color: #fff;
    text-decoration: none;
}

.tablebt:active {
    transform: scale(0.95);
}