.fm1{
    font-family: 'Roboto',sans-serif;
    background: #f2f2f2;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0px auto;
}
.mytabs label{
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}
.mytabs input[type="radio"]{
    display: none;
}
.mytabs input[type="radio"]:checked + label + .container{
    display: flex;
}
.mytabs input[type="radio"]:checked + label {
    background: #fff;
  }



/* 全部電影容器 */
.container{
    /* border: solid red; */
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    /* justify-content: flex-start; */
    width: 100%;
    padding:0px 120px 0px 150px;
    /* margin: 50px 0; */
    order: 1;
    display: none;
}
/* 單部電影容器 */
.content{
    /* border: solid blue; */
    box-sizing: border-box;
    width: 250px;
    margin: 15px 15px 40px 15px;

    float: left;
    padding-top: 15px;
    border-radius: 20px;
    padding-top:10px ;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;

}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px,-8px);
}

/* 電影封面 */
.cover img{
    display: block;
    width: 215px;
    height: 307px;
    padding: 3px;
    margin: 0px 10px 0px 15px;
}
/* 電影資訊 */
.info_container {
    display: flex;
    margin: 14px;
    height: 100px;
}
.info {
    flex: none;
    width: 80%;
}
.name{
    /* border: solid blue; */
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
}
.ename{
    /* border: solid red; */
    font-size: 0.5rem;
    font-weight: 300;
    margin: 0;
    padding-top: 0 8px;

    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.icon {
    flex: none;
    width: 20%;
}
.star img{
    width: 15px;
    height: 15px;

}
.icon img {
    width: 40px;
    height: 40px;
}



/* 查看電影詳情按鈕 */
.bt button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #2183a2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

